{% extends "base.html" %}

{% block content %}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">404</h1>
            <h2 class="subtitle">
                This is not the page you are looking for...
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">The page you have dissappeared</h1>
        <h2 class="subtitle">
            Perhaps you are here because:
        </h2>
        <div class="content">
            <ul class="">
                <li>The page has moved</li>
                <li>The page no longer exists</li>
                <li>You were looking for your puppy and got lost</li>
                <li>You like 404 pages</li>
            </ul>
            <a class="button is-rounded is-primary" href="/">Return to homepage </a>
        </div>
    </div>
</section>
{% endblock %}