{% extends "base.html" %}

{% block content %}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Downloads</h1>
            <h2 class="subtitle">
                This is where you will be able to download bootable ISOs.
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">Comming Soon</h1>
        <h2 class="subtitle">
            Sorry these aren't ready yet, we're busy making them awesome!
        </h2>
        <a class="button is-rounded is-primary" href="/">Return to homepage </a>
</section>
{% endblock %}